.items-list {
    overflow-y: scroll;
    width: 100%;
    max-height: 25vh;
    font-size: 2rem;
    border: var(--base-border);
    background: var(--high-color);
    box-shadow: var(--main-shadow);
}

.items-list-item {
    width: 100%;
    height: 3rem;
    padding: 1vh 0 2.5vh 0;
    font-size: 2rem;
    border: 0;
    border-bottom: var(--base-border);
    border-radius: 0;
}

.items-list-item:last-child {
    border-bottom: 0;
}

.addAllItems {
    width: 100%;
    color: var(--base-color);
    background: var(--line-color);
    border-radius: 0;
}

.addAllItems.copy {
    background: #240050;
}
