
table {
    width: 100%;
    margin: 0 auto 2rem auto;
    border-collapse: collapse;
}

tr {
    height: 5rem;
}

td {
    font-size: 3rem;
    border: var(--base-border);
    box-shadow: var(--main-shadow);
}

.main-cell {
    width: 5rem;
}

.type-cell, input.type-cell {
    font-size: 2rem;
}

.type-cell.grey, input.type-cell.grey {
    color: #797979;
}

.type-cell.full-grey, input.type-cell.full-grey {
    color: #b8b8b8;
    background: #b8b8b8;
}

.main-cell input {
    appearance: none;
    -moz-appearance: textfield;
    width: 100%;
    font-size: small;
    background: transparent;
    border: 0;
}

.week {
    margin: 0 auto 5vh auto;
}

.week-date {
    border: none;
}

.week-date div {
    height: 4rem;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 4rem;
    padding: 0;
    background: var(--base-color);
    border: none;
}

.day {
    width: 5rem;
    background: var(--high-color);
}

.left-column {
    text-align: left;
    padding: 0 0 0 10px;
}

.week-item-delete {
    float: left;
    width: 3rem;
    height: 3rem;
    margin: auto 5px auto auto;
    font-size: 2rem;
    line-height: 2rem;
}

.week-number-arrow-up {
    background: rgba(255, 0, 0, 0.4) url('../../components/Arrange/alerts/arrowUp.svg') center/cover;
}

.week-number-arrow-down {
    background: rgba(255, 0, 0, 0.4) url('../../components/Arrange/alerts/arrowDown.svg') center/cover;
}

.week-spots {
    background: rgba(255,255,255,0.5);
}

.allDone, .allDone .week-spots, .allDone input {
    color: var(--high-color);
    background: var(--line-color);
}

.spot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
}

.spot.grey {
    opacity: 0.4;
}

.spot.open {
    border: var(--main-border);
    background: var(--high-color);
}

.spot.closed {
    border: var(--main-border);
    background: var(--line-color);
}

.allDone .spot.closed {
    border: #1dff75;
    background: #1dff75;
}

.scooch {
    box-shadow: -2px -2px 2px 0 var(--line-color);
    transform: translate(2px, 2px);
    transition: all ease-in-out;
}