.bgPanel {
  z-index: -1;
  position: fixed;
  width: 80vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0.3;
  box-shadow: var(--main-shadow);
}

h1 {
  margin: 2rem;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  margin: 3rem;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}

main {
  margin: 0 auto 20vh auto;
}

button {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 3rem;
  padding: 0;
  background: var(--high-color);
  border: var(--base-border);
  border-radius: 100%;
  box-shadow: var(--main-shadow);
}

button.plus-sign {
  font-size: 5rem;
  font-weight: 300;
  line-height: 0;
}

button.add {
  margin: 2vh auto 4vh auto;
}

button.delete, .delete {
  transform: rotate(-45deg);
}

.done {
  background: var(--line-color);
}

@media screen and (min-height: 800px) {

  main {
    max-width: 800px;
  }

}
